@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #c050ec;
}

header {
  background: #111;
  box-shadow: #9d2edd;
  transition: background 0.3s;
}

.headline {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;
  background: url('cover.png') no-repeat center center;
  background-size: cover;
  box-shadow: 10px 20px 30px rgb(112, 49, 183);
}

.headline:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
  
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.75s 0.25s ease-in forwards;
}

.inner h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.2em;
}

.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family: serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: background 0.3s;
}

nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}

nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}

nav li {
  float: left;
}

nav a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}

nav a:hover {
  color: darken(#fff, 7%);
}

.logo {
  height: 75px;
  float: left;
}

.logo:before,
.logo:after {
  position: absolute;
  font-size: 7em;
  font-weight: 300;
  line-height: 0;
  color: #fff;
  top: 25px;
}

.logo:before {
  content: '\00BB';
  left: 20px;
}

.logo:after {
  content: '\00AB';
  left: 34px;
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Additional CSS for scroll effect */
body.scrolled-header header {
  background: #111;
}

body.scrolled-header .inner {
  opacity: 1;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; 
  }
  
  nav ul li {
    display: inline-block; 
    margin: 0;
    padding: 0;
  }
  
  nav ul li a {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    margin: 20px 20px 0;
    display: block;
    transition: transform 0.3s, color 0.3s; 
  }
  
 
  nav ul li a:hover {
    color: purple;
    transform: translateY(-5px); 
  
  }
  
  